.about {
  position: relative;
  margin-top: 40px;
  background: url("../../assets/wedding_bank.jpg");
  background-repeat: no-repeat;
  background-size: 80%;
  min-height: 800px;
  h2 {
    text-align: center;
  }
}
